html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    overflow: hidden;
}

.btn-primary,
.btn-primary:is(:hover) {
    background-color: purple;
    border-color: purple;
}

.text-primary {
    color: purple !important;
}

/* Define the custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: purple #f1f1f1;
}